@import "../styles/variables.module.scss";
.container {
    padding-top: 6rem;
    padding-left: 6rem;

    .title {
        padding-bottom: 2rem;

        .titlenum {
            font-size: $font2;
            font-weight: $font-medium;
            font-family: $font-family3;
            color: $color-white;
            line-height: 19px;
            letter-spacing: 2.7px;
            opacity: 0.25;
        }
        .titlecrew {
            font-size: $font2;
            font-weight: $font-regular;
            line-height: 19px;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            color: $color-white;
            font-family: $font-family3;
            color: $color-white;
        }
    }
    .crewinfo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;

        .crewdetail {
            width: 40rem;
            .crewrole {
                .crewtitle {
                    font-family: $font-family1;
                    font-weight: $font-regular;
                    font-size: $font2;
                    color: $color-white;
                    opacity: 0.5;
                    text-transform: uppercase;
                }
            }
            .crewname {
                .crewtitle {
                    font-family: $font-family1;
                    font-weight: $font-regular;
                    font-size: $font1;
                    color: $color-text;
                    line-height: 64px;
                    text-transform: uppercase;
                }
            }
            .crewbio {
                .crewtitle {
                    font-family: $font-family2;
                    font-weight: $font-regular;
                    font-size: $font5;
                    color: $color-text;
                    line-height: 32px;
                }
            }
            .navbar {
                height: 2rem;
                .navmenu {
                    padding-top: 4rem;
                    padding-bottom: 2rem;
                    display: flex;
                    justify-content: space-evenly;
                    margin: 0 auto;
                    width: 10rem;
                    .navitem {
                        padding-bottom: 2%;
                        background-color: $color-white;
                        opacity: 0.17;
                        border: none;
                        border-radius: 50%;
                        width: 1rem;
                        height: 1rem;
                        cursor: pointer;
                    }
                    .navitem:hover{
                        opacity: 0.5;
                    }
                    .navHover {
                        border-radius: 50%;
                        background-color: $color-white;
                        border: none;
                        width: 1rem;
                        height: 1rem;
                        cursor: pointer;
                    }
                }
            }
        }
        .crewimg {
            width: 20rem;
            height: 20rem;
            .crewinfoimg {
                z-index: 1;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .crewinfo {
        text-align: center;
    }
}
