@import "../styles/variables.module.scss";
.container {
  padding-top: 6rem;

  .title {
    padding-bottom: 2rem;
    padding-left: 6rem;
    .titlenum {
      font-size: $font2;
      font-weight: $font-medium;
      font-family: $font-family3;
      color: $color-white;
      line-height: 19px;
      letter-spacing: 2.7px;
      opacity: 0.25;
    }
    .titledest {
      font-size: $font2;
      font-weight: $font-regular;
      line-height: 19px;
      letter-spacing: 2.7px;
      text-transform: uppercase;
      color: $color-white;
      font-family: $font-family3;
      color: $color-white;
    }
  }
  .destinfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .destimg {
      width: 20rem;
      height: 20rem;
      .desinfoimg {
        animation: rotation 8s infinite linear;
        z-index: 1;
        width: 100%;
      }
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }

    .destdetail {
      padding-bottom: 3rem;
    }
    .navbar {
      height: 2rem;
      .navmenu {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 20rem;
        .navitem:hover {
          padding-bottom: 2%;
          border-bottom: 0.1rem solid $color-white;
        }
        .navHover {
          padding-bottom: 2%;
          border-bottom: 0.1rem solid $color-white;
          background-color: transparent;
          .navlink {
            font-size: $font5;
            font-weight: $font-regular;
            line-height: 19px;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            color: $color-white;
            font-family: $font-family3;
            color: $color-white;
            background-color: transparent;
            cursor: pointer;
          }
        }
        .navitem {
          padding-bottom: 2%;
          background-color: transparent;
          .navlink {
            font-size: $font5;
            font-weight: $font-regular;
            line-height: 19px;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            color: $color-white;
            font-family: $font-family3;
            color: $color-white;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }
  .destname {
    .destnametitle {
      font-family: $font-family1;
      font-weight: $font-regular;
      font-size: $font6;
      color: $color-white;
      text-transform: uppercase;
    }
  }
  .destdesc {
    width: 35rem;
    .destdesctitle {
      font-family: $font-family2;
      font-weight: $font-regular;
      font-size: $font5;
      color: $color-text;
      line-height: 32px;
    }
  }
  .destnum {
    display: flex;
    justify-content: space-around;
    .destway {
      padding-top: 1rem;
      p {
        font-family: $font-family2;
        font-weight: $font-regular;
        font-size: $font5;
        color: $color-text;
        text-transform: uppercase;
      }
      h1 {
        font-family: $font-family1;
        font-weight: $font-regular;
        font-size: $font2;
        color: $color-text;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .destinfo {
    text-align: center;
  }
}
