@import "../styles/variables.module.scss";
.container {
    padding-top: 6rem;
    padding-left: 6rem;

    .title {
        padding-bottom: 2rem;

        .titlenum {
            font-size: $font2;
            font-weight: $font-medium;
            font-family: $font-family3;
            color: $color-white;
            line-height: 19px;
            letter-spacing: 2.7px;
            opacity: 0.25;
        }
        .titletech {
            font-size: $font2;
            font-weight: $font-regular;
            line-height: 19px;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            color: $color-white;
            font-family: $font-family3;
            color: $color-white;
        }
    }
    .techinfo {
        .techdetail {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .navbar {
                height: 2rem;
                .navmenu {
                    padding-top: 4rem;
                    padding-bottom: 2rem;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    margin: 0 auto;
                    height: 10rem;
                    .navitem {
                        padding-bottom: 2%;
                        background-color: $color-white;
                        opacity: 0.17;
                        border: none;
                        border-radius: 50%;
                        width: 1rem;
                        height: 1rem;
                        cursor: pointer;
                    }
                    .navitem:hover {
                        opacity: 0.5;
                    }
                    .navHover {
                        border-radius: 50%;
                        background-color: $color-white;
                        border: none;
                        width: 1rem;
                        height: 1rem;
                        cursor: pointer;
                    }
                }
            }
            .techcontent {
                width: 15rem;
                .techrole {
                    .techtitle {
                        font-family: $font-family1;
                        font-weight: $font-regular;
                        font-size: $font2;
                        color: $color-white;
                        opacity: 0.5;
                        text-transform: uppercase;
                    }
                }
                .techname {
                    .techtitle {
                        font-family: $font-family1;
                        font-weight: $font-regular;
                        font-size: $font1;
                        color: $color-text;
                        line-height: 64px;
                        text-transform: uppercase;
                    }
                }
                .techdesc {
                    .techtitle {
                        font-family: $font-family2;
                        font-weight: $font-regular;
                        font-size: $font5;
                        color: $color-text;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}
